<nav class="uk-navbar-container uk-margin uk-box-shadow-medium uk-margin-right " uk-navbar>

  <div class="uk-hidden@m nav-overlay uk-navbar-left">
    <a class="uk-navbar-toggle"
       routerLink="/messenger"
       uk-icon="icon: arrow-left; ratio: 2"
    ></a>

  </div>

  <app-left-navbar-logo class="uk-visible@m"></app-left-navbar-logo>

</nav>

<div
  class="uk-card uk-card-default uk-card-body uk-text-center
  uk-flex uk-flex-middle uk-flex-center
  uk-width-2-3@m uk-width-3-4@l uk-align-center"
  uk-height-viewport="expand: true"
>
  <span class=" uk-text-lead">
    Групповые чаты пока не реализованы. <br>
    Ждите обновления!
  </span>
</div>>

<!--нижняя навигационная панель-->
<app-navigation-panel class="uk-hidden@m"></app-navigation-panel>
