<nav class="uk-navbar-container uk-margin uk-box-shadow-medium uk-margin-right " uk-navbar>

  <div class="uk-hidden@m nav-overlay uk-navbar-left">
    <a class="uk-navbar-toggle"
       uk-icon="icon: arrow-left; ratio: 2"
    ></a>

    <img class="uk-preserve-width uk-border-rounded uk-margin-right"
         width="50" height="50"
         src="logo/avatar.jpg"
    >

    <div class="uk-logo">
      DCLover
    </div>
  </div>

  <app-left-navbar-logo class="uk-visible@m"></app-left-navbar-logo>

  <div class="uk-visible@m nav-overlay uk-navbar-right">
    <div class="uk-logo uk-margin-right">
      DCLover
    </div>

    <img class="uk-preserve-width uk-border-rounded"
         width="50" height="50"
         src="logo/avatar.jpg"
    >

  </div>

</nav>

<div
  class="uk-panel-scrollable uk-flex uk-flex-column-reverse uk-grid-small uk-width-2-3@m uk-width-3-4@l uk-align-center"
  uk-height-viewport="expand: true"
>

<!--  <div class="uk-flex uk-flex-right uk-margin-small-right">-->
<!--    <div style="max-width: 75%" class="uk-card uk-card-default uk-card-small uk-card-body">-->
<!--      Только что посмотрела Лигу Справедливости. Фильм - огонь!-->
<!--      <div class="uk-text-meta uk-position-bottom-right uk-margin-small-right">21:12</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="uk-flex uk-flex-right uk-margin-small-right">-->
<!--    <div style="max-width: 75%" class="uk-card uk-card-default uk-card-small uk-card-body">-->
<!--      Недавно видела рекламу. Надо бы посмотреть в ближайшее время.-->
<!--      <div class="uk-text-meta uk-position-bottom-right uk-margin-small-right">13:25</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="uk-flex uk-flex-left uk-margin-small-left">-->
<!--    <div style="max-width: 75%" class="uk-card uk-card-default uk-card-small uk-card-body uk-text-break">-->
<!--      Тогда ты просто обязана посмотреть новый фильм "Лига Справедливости Зака Снайдера"!-->
<!--      <div class="uk-text-meta uk-position-bottom-right uk-margin-small-right">13:24</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="uk-flex uk-flex-right uk-margin-small-right">-->
<!--    <div style="max-width: 75%" class="uk-card uk-card-default uk-card-small uk-card-body">-->
<!--      Привет! Если честно, я как-то и не смотрела их фильмов...-->
<!--      <div class="uk-text-meta uk-position-bottom-right uk-margin-small-right">13:24</div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="uk-flex uk-flex-left uk-margin-small-left">-->
<!--    <div style="max-width: 75%" class="uk-card uk-card-default uk-card-small uk-card-body uk-text-break">-->
<!--      Привет. Я увидел, что ты интересуешься-->
<!--      marvel. Мне стало интересно, каково твое отношение к DC?-->
<!--      <div class="uk-text-meta uk-position-bottom-right uk-margin-small-right">13:22</div>-->
<!--    </div>-->
<!--  </div>-->

  <div *ngFor="let message of messages">
    <div class="uk-flex uk-flex-left uk-margin-small-left"
    [ngClass]="{'uk-margin-small-left': message.from.id !== user.info.id,
      'uk-margin-small-right': message.from.id === user.info.id}">
      <div style="max-width: 75%" class="uk-card uk-card-default uk-card-small uk-card-body uk-text-break">
        {{message.message.content}}
        <div class="uk-text-meta uk-position-bottom-right uk-margin-small-right">{{message.message.dateCreate}}</div>
      </div>
    </div>
  </div>



</div>


<!--текстовое поле-->
<div class="uk-flex uk-margin uk-width-2-3@m uk-width-3-4@l uk-align-center">

  <img class="uk-preserve-width uk-margin-small-left"
       src="logo/paper-clip.svg" height="20" uk-svg>

  <div class="uk-margin-small-left uk-margin-small-right uk-width-expand">
      <textarea
        class="uk-height-max-medium uk-textarea uk-text-break uk-resize-vertical"
        rows="2"
        [(ngModel)]="newMessage"
      >
        Ты увидел там камео Зака Снайдера?
      </textarea>
  </div>

  <span (click)="sendMessage()"
  >
  <img class="uk-preserve-width uk-margin-small-right"
       src="logo/send.svg" height="20" uk-svg
  >
  </span>

</div>

<!--нижняя навигационная панель-->
<app-navigation-panel class="uk-hidden@m"></app-navigation-panel>
