
<nav class="uk-navbar-container uk-margin uk-box-shadow-medium" uk-navbar="mode: click">

  <app-left-navbar-logo></app-left-navbar-logo>

  <div class="nav-overlay uk-navbar-right">
    <a class="uk-navbar-toggle"
       uk-search-icon
       uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
       href="#"
    ></a>

    <a class="uk-navbar-toggle"
       uk-icon="settings"
       uk-toggle="target: #filter-panel"
    ></a>

    <a class="uk-navbar-toggle"
       uk-icon="plus"
    ></a>
  </div>

  <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>

    <div class="uk-navbar-item uk-width-expand">
      <form class="uk-search uk-search-navbar uk-width-1-1">
        <input
          [(ngModel)]="searchName"
          (ngModelChange)="search()"
          name="search"
          class="uk-search-input"
          type="search"
          placeholder="Поиск..."
          autofocus
        >
      </form>
    </div>

    <a class="uk-navbar-toggle"
       (click)="endSearch()"
       uk-close
       uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
       href="#"></a>

  </div>

</nav>

<div id="filter-panel" uk-modal>
  <div
    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical "
  >

    <div class="uk-margin-small uk-flex uk-flex-middle uk-flex-left">


      <div class="uk-text-bold uk-margin-right">
        Тип:
      </div>

      <div class="uk-width-expand">
        <select class="uk-select" [(ngModel)]="chatFilter">
          <option [ngValue]="'ALL'" >все чаты</option>
          <option [ngValue]="'CHAT'">беседы</option>
          <option [ngValue]="'DIRECT'">личные сообщения</option>
        </select>
      </div>

    </div>

    <div class="uk-margin-small uk-flex uk-flex-middle uk-flex-left">

      <div class="uk-text-bold uk-margin-right">
        Сообщения:
      </div>

      <div class="uk-width-expand">
        <select class="uk-select" [(ngModel)]="messageFilter">
          <option [ngValue]="'ALL'">все</option>
          <option [ngValue]="'OLD'">прочитанные</option>
          <option [ngValue]="'NEW'">непрочитанные</option>
        </select>
      </div>

    </div>

    <div class="uk-margin-small">
      <button
        uk-toggle="target: #filter-panel"
        class="uk-button uk-button-default uk-modal-close uk-width-expand"
        (click)="reloadChats()"
      >Применить
      </button>
    </div>

  </div>
</div>


<div class="uk-panel-scrollable uk-width-expand uk-margin uk-width-2-3@m uk-width-3-4@l uk-align-center"
     uk-height-viewport="expand: true">

  <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
    <tbody>
    <tr
      *ngFor="let chat of chats" (click)="open(chat)"
      [ngClass]="{'uk-background-muted' : !isRead(chat.message)}"
    >
      <td class="uk-table-shrink">
<!--        <img
          class="uk-preserve-width uk-border-rounded"
          uk-img
          data-src="{{getImageUrl(chat)}}"
          width="40"
          height="40"
          alt=""
        >-->
        <img class="uk-preserve-width uk-border-rounded"
             src="{{getImageUrl(chat)}}"
             width="40" height="40" alt=""
        >
      </td>

      <td class="uk-text-truncate">
        <div class="uk-margin-remove-bottom uk-text-bold">
          {{getChatName(chat)}}
        </div>
        <div class="uk-margin-remove-top uk-text-meta">
          {{getMessageAuthor(chat)}}{{chat.message.content}}
        </div>
      </td>

      <td class="uk-table-shrink">
        <div class="uk-flex uk-flex-column uk-text-right">
          <div class="uk-margin-remove-bottom uk-text-meta">
            {{getFormatDate(chat.message)}}
          </div>
<!--          <div class="uk-margin-remove-top">
            <span class="uk-badge uk-background-secondary"></span>
          </div>-->
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<app-navigation-panel class="uk-hidden@m"></app-navigation-panel>
