
<div class="uk-position-center">

  <div class="uk-padding-small">
    <div class="uk-card uk-card-body uk-card-default uk-flex" >

      <div class="uk-margin-auto-vertical uk-margin-auto">
        <div class="uk-flex uk-flex-center uk-flex-middle uk-flex-column uk-margin-medium">
          <img width="200" height="200" src="logo/logo_stroke.svg" uk-svg>
          <img width="200" src="logo/logo_text.svg" uk-svg>
        </div>

        <div class="uk-text-center uk-margin-medium">
          У нас плохие новости. <br>
          Ваш профиль заблокирован до {{getEndBanTime()}}
        </div>

        <button
          class="uk-button uk-button-secondary uk-width-expand uk-margin-small-bottom"
          (click)="logout()"
        >
          Выйти
        </button>


      </div>


    </div>
  </div>


</div>
