<div class="uk-card uk-card-default uk-display-block">

  <div class="uk-inline uk-position-top-right uk-padding-small">
    <span uk-icon="icon: more-vertical;"></span>
    <div class="uk-padding-small" uk-dropdown="mode: click; pos: bottom-left">
      <button class="uk-button uk-button-text" (click)="report()">Пожаловаться</button>
      <button class="uk-button uk-button-text" (click)="addToFavourites()">Добавить в избранное</button>
    </div>
  </div>

  <div class="uk-card-header">
    <div class="uk-grid-small uk-flex-middle" uk-grid>
      <div class="uk-width-auto">
        <img class="uk-border-rounded" width="{{imageSize}}" height="{{imageSize}}" src="{{getImageUrl()}}" >
      </div>

      <div class="uk-width-expand">
        <h3 class="uk-card-title uk-margin-remove-bottom">{{profile?.info.name}}</h3>
        <p *ngIf="profile?.card.content" class="uk-text-meta uk-margin-remove-top">{{profile?.card.content}}</p>
      </div>
    </div>

  </div>
  <div class="uk-card-body">
    <span class="uk-label uk-width-auto uk-margin-small-right uk-margin-small-bottom"
          *ngFor="let teg of getTags()"
    >{{teg}}</span>
  </div>
  <div class="uk-card-footer">
    <button class="uk-button uk-button-text" (click)="startChat()">
      Начать беседу
    </button>
  </div>
</div>

<div id="report-dialog" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div *ngIf="isSend" class="uk-text-center uk-margin-remove">
      <span class="uk-text-lead">{{sendResultMessage}}</span>
    </div>

    <div *ngIf="isError" class="uk-text-center uk-text-danger uk-margin-remove">
      <span>{{sendResultMessage}}</span>
    </div>

    <div *ngIf="!isSend" class="uk-h4 uk-text-bold">
      Жалоба на пользователя {{profile?.info.name}}:
    </div>

    <div *ngIf="!isSend">
      <form>
        <textarea
          [(ngModel)]="reportMessage"
          name="report-text-area"
          class="uk-textarea uk-margin uk-width-xlarge"
          maxlength="2048"
          autofocus
        ></textarea>
        <button
          class="uk-width-expand uk-button uk-button-default"
          (click)="sendReport()"
          [disabled]="!reportMessage"
        >Отправить</button>
      </form>
    </div>

  </div>
</div>
