<div class="nav-overlay uk-navbar-left">
  <div class="uk-navbar-item uk-logo" routerLink="/">
    <img
      class="uk-preserve-width uk-margin-small-right"
      src="logo/logo_fill.svg" height="40" uk-svg>
    <img
      class="uk-preserve-width uk-animation-stroke"
      src="logo/logo_text.svg" height="25" uk-svg>
  </div>

  <div class="uk-visible@m">
    <ul class="uk-navbar-nav">
      <li class="uk-active">
        <a routerLink="/">
          <span uk-icon="home"></span>
          <span >Главная</span>
        </a>
      </li>
      <li class="uk-active">
        <a routerLink="/chat">
          <span uk-icon="comments"></span>
          <span >Чат</span>
        </a>
      </li>
      <li class="uk-active">
        <a>
          <span uk-icon="user"></span>
          <span >Профиль</span>
        </a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">

            <li>
              <div
                routerLink="/profile"
                class="uk-navbar-item uk-flex uk-flex-row uk-flex-between uk-padding-remove"
              >
                <img class="uk-border-rounded" width="{{imageSize}}" height="{{imageSize}}" src="logo/avatar.jpg" >
                <span class="uk-text uk-text-bold">MyNickname</span>
              </div>
            </li>

            <li><a (click)="logout()">Выйти</a></li>
          </ul>
        </div>
      </li>

    </ul>
  </div>
</div>
