<div class="nav-overlay uk-navbar-left">
  <div class="uk-navbar-item uk-logo" routerLink="/">
    <img
      class="uk-preserve-width uk-margin-small-right"
      src="logo/logo_fill.svg" height="40" uk-svg>
    <img
      class="uk-preserve-width uk-animation-stroke"
      src="logo/logo_text.svg" height="25" uk-svg>
  </div>

  <div class="uk-visible@m">
    <ul class="uk-navbar-nav">
      <li class="uk-active">
        <a routerLink="/">
          <span uk-icon="home"></span>
          <span >Главная</span>
        </a>
      </li>
      <li class="uk-active">
        <a routerLink="/messenger">
          <span uk-icon="comments"></span>
          <span >Мессенджер</span>
        </a>
      </li>
      <li class="uk-active">
        <a routerLink="/profile">
          <span uk-icon="user"></span>
          <span >Профиль</span>
        </a>
      </li>

    </ul>
  </div>
</div>
