<nav class="uk-navbar-container uk-margin uk-box-shadow-medium" uk-navbar="mode: click;">

  <app-left-navbar-logo></app-left-navbar-logo>

  <div class="nav-overlay uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li *ngIf="isJustUser" class="uk-active">
        <a (click)="logout()">
          <span class="uk-visible@m uk-margin-small-right ">Выйти</span>
          <span uk-icon="sign-out"></span>
        </a>
      </li>

      <li *ngIf="!isJustUser">
        <a class="uk-navbar-toggle" href="#">
          <span class="uk-margin-small-right uk-visible@m">Меню</span> <span uk-navbar-toggle-icon></span>
        </a>
        <div class="uk-navbar-dropdown" uk-dropdown="pos: bottom-right">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a (click)="adminNavigate('reports')"><span>Жалобы</span></a></li>
            <li *ngIf="isAdmin" ><a (click)="adminNavigate('moderators')"><span>Модераторы</span></a></li>
            <li><a (click)="logout()"><span>Выйти</span></a></li>
          </ul>
        </div>
      </li>

    </ul>


  </div>

</nav>


<div
  class="uk-flex uk-flex-center
    uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s
    uk-grid-small uk-padding-small"
  uk-grid uk-height-match="target: > div > .uk-card"
>

  <div>
    <div class="uk-card uk-card-default uk-card-body uk-display-block">

      <div class="uk-inline uk-position-top-right uk-padding-small">
        <span uk-icon="pencil" uk-toggle="target: #edit-profile-panel"></span>
      </div>

      <div class="uk-margin-remove-top uk-margin-bottom">
        <img uk-toggle="target: #upload-new-image-panel" data-src="{{user?.info.imageUrl}}" width="" height="" alt=""
             uk-img>
      </div>

      <div class="uk-text-left uk-text-lead uk-margin">
        <div class="uk-text-center uk-text-meta">Имя пользователя:</div>
        <div class="uk-text-left">{{user?.info.name}}</div>
        <div class="uk-text-center uk-text-meta" *ngIf="user?.card.content">Статус:</div>
        <div class="uk-text-left">{{user?.card.content}}</div>
      </div>

    </div>
  </div>

  <div>

    <div class="uk-card uk-card-default uk-card-body uk-display-block">

      <div class="uk-inline uk-position-top-right uk-padding-small">
        <span uk-icon="pencil" uk-toggle="target: #update-tag-panel"></span>
      </div>

      <div class="uk-card-title uk-margin">
        Теги:
      </div>

      <div>

        <span
          *ngFor="let tag of user?.card.tags"
          class="uk-label uk-margin-small-right uk-margin-small-bottom"
        >
          {{tag}}
        </span>

      </div>

    </div>

  </div>


</div>

<div id="update-tag-panel" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div *ngIf="message" class="uk-text-center">
    <span class="uk-width-expand  uk-text-success" [ngClass]="{'uk-text-danger' : isError}">
      {{message}}
    </span>
    </div>

    <ul uk-accordion>
      <li>
        <a class="uk-accordion-title">Добавление</a>
        <div class="uk-accordion-content">

          <div class="uk-flex uk-flex-between uk-margin">
            <div class="uk-text-lead uk-margin-small-right">
              Тег:
            </div>
            <div class="uk-form-controls uk-width-expand">
              <input [(ngModel)]="newTag"
                     (ngModelChange)="searchTags()"
                     (keyup.enter)="addNewTag()"
                     class="uk-input" type="text" autofocus>
            </div>
          </div>

          <div class="uk-panel uk-panel-scrollable uk-height-medium">
            <span
              *ngFor="let tag of foundTags"
              (click)="addTag(tag)"
              class="uk-label uk-margin-small-right uk-margin-small-bottom"
            >{{tag}}</span>
          </div>

          <button
            class="uk-button uk-button-primary uk-width-expand uk-margin"
            type="button"
            (click)="addNewTag()"
            [disabled]="!newTag"
          >добавить</button>

        </div>
      </li>
      <li>
        <a class="uk-accordion-title">Удаление</a>
        <div class="uk-accordion-content">
          <span class="uk-text-meta">
            Нажмите на те теги, которые хотите удалить
          </span>
          <div class="uk-panel uk-panel-scrollable uk-height-medium">
            <span
              *ngFor="let tag of user?.card.tags"
              (click)="deleteTag(tag)"
              class="uk-label uk-label-danger uk-margin-small-right uk-margin-small-bottom"
            >{{tag}}</span>
          </div>
        </div>
      </li>
    </ul>



  </div>
</div>


<div id="edit-profile-panel" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div *ngIf="message" class="uk-text-center">
    <span class="uk-width-expand  uk-text-success" [ngClass]="{'uk-text-danger' : isError}">
      {{message}}
    </span>
    </div>

    <ul uk-accordion>
      <li>
        <a class="uk-accordion-title">Имя пользователя</a>
        <div class="uk-accordion-content">
          <div class="uk-flex uk-flex-between">
            <div class="uk-form-controls uk-width-expand">
              <input class="uk-input" id="name" type="text" [(ngModel)]="newName" ngModel required min="4">
            </div>
            <button
              class="uk-button uk-button-primary"
              type="button"
              (click)="updateNickname()"
              [disabled]="!newName"
            >Изменить
            </button>
          </div>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title">Статус</a>
        <div class="uk-accordion-content">
          <div class="uk-flex uk-flex-between">
            <div class="uk-form-controls uk-width-expand">
              <input class="uk-input" id="status" type="text" [(ngModel)]="newStatus" required min="4" max="256">
            </div>
            <button
              class="uk-button uk-button-primary"
              type="button"
              (click)="updateStatus()"
              [disabled]="!newStatus"
            >Изменить
            </button>
          </div>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title">Пароль</a>
        <div class="uk-accordion-content">
          <div class="uk-margin-small">
            <label class="uk-form-label" for="old_password">Старый пароль</label>
            <div class="uk-flex uk-flex-between">
              <div class="uk-form-controls uk-width-expand">
                <input
                  class="uk-input"
                  id="old_password"
                  type="password"
                  [(ngModel)]="passwordForm.old_password"
                >
              </div>
            </div>
          </div>

          <div class="uk-margin-small">
            <label class="uk-form-label" for="new_password">Новый пароль</label>
            <div class="uk-flex uk-flex-between">
              <div class="uk-form-controls uk-width-expand">
                <input
                  class="uk-input"
                  id="new_password"
                  type="password"
                  [(ngModel)]="passwordForm.new_password"
                >
              </div>
            </div>
          </div>

          <div class="uk-margin-small">
            <label class="uk-form-label" for="new_password_again">Повторите новый пароль</label>
            <div class="uk-flex uk-flex-between">
              <div class="uk-form-controls uk-width-expand">
                <input
                  class="uk-input"
                  id="new_password_again"
                  type="password"
                  [(ngModel)]="passwordForm.new_password_again"
                >
              </div>
            </div>
          </div>

          <button
            class="uk-button uk-button-primary uk-width-expand"
            type="button"
            (click)="updatePassword()"
            [disabled]="isPasswordChangBtnDisable()"
          >Обновить пароль
          </button>
        </div>
      </li>
      <li>
        <a class="uk-accordion-title">Фото профиля</a>
        <div class="uk-accordion-content">
          <ng-container *ngTemplateOutlet="uploadNewImageTemplate"></ng-container>
        </div>
      </li>
    </ul>


    <div *ngIf="isLoading" class="uk-overlay-default uk-position-cover">
      <div class="uk-position-center">
        <span uk-spinner="ratio: 5"></span>
      </div>
    </div>

  </div>
</div>


<div id="upload-new-image-panel" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <div class="uk-text-center uk-margin-small-bottom">
      <span class="uk-text-lead uk-margin-remove">Фото профиля</span>
    </div>

    <ng-container *ngTemplateOutlet="uploadNewImageTemplate"></ng-container>
  </div>
</div>

<ng-template #uploadNewImageTemplate>
  <div class="uk-margin-small">
    <div
      uk-form-custom="target: true"
      class="uk-width-expand uk-form-controls uk-form-custom">
      <input
        type="file"
        id="image"
        name="image"
        ngModel
        required
        (change)="onImageSelected($event)"
      >
      <input
        class="uk-input"
        type="text"
        placeholder="Выберите файл"
        disabled=""
      >
    </div>
  </div>

  <div *ngIf="selectedImage" class="uk-flex uk-flex-center uk-margin-small">
    <img class="uk-height-medium uk-width-medium" data-src="{{selectedImageURL}}" width="" height="" alt="" uk-img>
  </div>

  <div class="uk-flex uk-flex-between">
    <button
      class="uk-button uk-button-primary"
      type="button"
      (click)="uploadImage()"
      [disabled]="!selectedImage"
    >Загрузить
    </button>

    <button
      class="uk-button uk-button-default uk-modal-close"
      type="button"
      (click)="deleteSelectedImage()"
    >Закрыть</button>
  </div>


  <div *ngIf="isLoading" class="uk-overlay-default uk-position-cover">
    <div class="uk-position-center">
      <span uk-spinner="ratio: 5"></span>
    </div>
  </div>

</ng-template>
